@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body{
  width: 100vw;
  text-rendering: optimizeSpeed;
  background-color: #18191A;
  color: #f6f6f6;
  margin: 0;
  font-family: "Jura", serif;
  font-optical-sizing: auto;
  font-display: swap;
}