@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  text-rendering: optimizeSpeed;
  background-color: #18191A;
  color: #f6f6f6;
  margin: 0;
  font-family: "Jura", serif;
  font-optical-sizing: auto;
  font-display: swap;
}

.glass {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.glassContainer {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
}
.glassSpan {
  background: rgba(247, 247, 247, 0.8);
  backdrop-filter: blur(1006px);
  -webkit-backdrop-filter: blur(1000px);
}

.glassbtn {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
}