@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  text-rendering: optimizeSpeed;
  background-color: #18191A;
  color: #f6f6f6;
  margin: 0;
  font-family: "Jura", serif;
  font-optical-sizing: auto;
  font-display: swap;
}

.glass {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.glassContainer {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
}
.glassSpan {
  background: rgba(247, 247, 247, 0.8);
  backdrop-filter: blur(1006px);
  -webkit-backdrop-filter: blur(1000px);
}

.glassbtn {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
}

pre{
  margin: 0;
  user-select: none;
  padding: 0;
  line-height: 1em;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
  background-image: radial-gradient(circle, #ff6188 0%, #fc9867 50%, #ffd866 100%);
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  z-index: 9;
  mix-blend-mode: difference;
}